@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}
.links {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.links:hover {
    color: rgb(122, 92, 255);
}

#header {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}


#name {
    text-decoration: none;
    color: rgb(122, 92, 255);
}
#linksContainer {
    display: flex;
    gap: 50px;
    text-transform: uppercase;
}

#main-section {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#title {
    font-size: 4rem;
    color: rgb(122, 92, 255);
}

.text {
    color: white;
    font-size: 22px;
}

#prazer {
    font-size: 48px
}

#textBox {
    text-align: left;
    max-height: auto;
    background-color: rgba(137, 43, 226, 0.068);
    border-radius: 30px;
    padding: 40px;
    padding-left: 20px;
    margin-left: 10rem;
    margin-right: 10rem
}

#Bruno {
    color: rgb(122, 92, 255);
    font-size: 29px;
}